/*place global styles here */
html,
body {
    @apply h-full overflow-hidden;
}



    .sizes {
        @apply border-dashed border-2 sm:border-red-700 md:border-blue-700 lg:border-green-800 xl:border-solid xl:border-red-400;

    }
